@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
}
.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
:root {
  /* Hero section colors */
  --hero-heading-text-color: #ffffff;
  --hero-background-color: #74c69d;
  --hero-button-text-color: #000000;

  /* Second section colors */
  --second-see-green-color: #74c69d;
  --second-h1-color: #000000;
  --second-p-color: #000000;
  --second-button-background-color: #212529;
  --second-button-text-color: #ffffff;

  /* Third section colors */
  --third-h1-color: #212529;
  --third-p-color: #21252980;

  /* Fourth section colors */
  --fourth-h1-color: #212529;
  --fourth-p-color: #21252980;

  /* Fifth section colors */
  --fifth-h5-color: #74c69d;
  --fifth-h2-color: #212529;
  --fifth-p-color: #21252980;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--hero-heading-text-color);
  padding-right: 50px;
}

.hero-section {
  background-color: var(--hero-background-color);
  padding-bottom: 50px;
  padding-top: 30px;
}
.site-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 30px;
}
.logo-branding {
  display: flex;
  align-items: center;
}
.site-title {
  color: var(--hero-heading-text-color);
  font-size: 40px;
  padding-left: 10px;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 22px;
}
.hero-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.hero-text {
  color: var(--hero-heading-text-color);
  margin-top: 18px;
}
.hero-text h4 {
  font-size: 13px;
  letter-spacing: 4px;
  padding-bottom: 8px;
}
.hero-text h3 {
  font-size: 35px;
}
.hero-text p {
  font-size: 15px;
  padding-top: 6px;
}
.explore-button {
  border: none;
  padding: 8px 40px;
  border-radius: 4px;
  margin-top: 22px;
  font-size: 15px;
  color: var(--hero-button-text-color);
  background-color: var(--second-button-text-color);
}
/* Partner section start */
.partners-section {
  text-align: center;
  margin-top: 45px;
}
.partners-header h4 {
  letter-spacing: 5px;
  color: var(--second-see-green-color);
  margin-bottom: 7px;
}
.partners-header h1 {
  font-size: 35px;
  margin-bottom: 10px;
}
.partners-header p {
  margin-bottom: 30px;
}
.partner-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 110px;
  margin-bottom: 45px;
}
.btn-learn-more {
  border: none;
  padding: 8px 35px;
  border-radius: 4px;
  font-size: 15px;
  color: var(--hero-heading-text-color);
  background-color: var(--hero-button-text-color);
}
/* Feature section One/Two */
.feature-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
.feature-content h1 {
  font-size: 35px;
  margin-bottom: 10px;
}
.feature-content p {
  margin-bottom: 20px;
  color: var(--fifth-p-color);
}
.reverse-layout {
  flex-direction: row-reverse;
}
/* Team Section Start */
.team-section {
  margin-top: 80px;
}
.team-intro {
  text-align: center;
}
.team-intro h6 {
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: var(--fifth-h5-color);
}
.team-intro h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.team-intro p {
  font-size: 15px;
}
.team-members {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 40px;
}
.team-member {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  padding: 7px 20px;
  height: fit-content;
}
.team-member h3,
p {
  margin-top: 15px;
  margin-bottom: 7px;
}
.team-member p {
  font-size: 13px;
  color: var(--fourth-p-color);
}
.btn-view-team {
  margin-left: 670px;
  margin-top: 40px;
  padding: 7px 27px;
  border-radius: 4px;
  background-color: var(--hero-button-text-color);
  color: var(--second-button-text-color);
}
/* Site Footer Section Start */
.site-footer {
  margin-top: 50px;
  background-color: var(--hero-background-color);
}
.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 30px 0px;
  color: var(--hero-heading-text-color);
}
.footer-info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.social-icons {
  margin-top: 13px;
  display: flex;
  gap: 25px;
}
