@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin-right: 0%;
  margin-right: 0%;
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
}
.container {
  max-width: 1440px;
  margin-left: 0;
  margin-right: 0;
}
:root {
  /* All hero section color */
  --all-heading-text-color: #ffffff;
  --background-color: #74c69d;
  --button-text-color: #000000;
  /* Secoond section */
  --see-green-color: #74c69d;
  --h1-color: #000000;
  --p-color: #000000;
  --background-button-color: #212529;
  --button-text-color: #ffffff;
  /* Third section */
  --h1-color: #212529;
  --p-color: #21252980;
  /* Forth section */
  --h1-color: #212529;
  --p-color: #21252980;
  /* Fifth section */
  --h5-color: #74c69d;
  --h2-color: #212529;
  --p-color: #21252980;
}
